Repository ReDI-School/F24-Berlin-Web-Circle, pull requests merged in 2024-09, with the labels that each got.

#10 Added Bohdan Hrabynskyi to Collaborators section
  README.md
Labels: documentation

#78 Add feature/stay date and people picker
  src/components/ReservationCard/ReservationCard.jsx
  src/components/ReservationCard/ReservationCard.module.css
  src/pages/ProductPage.jsx
Labels: Freaky components

#51 Adding MapView component
  src/assets/map-view-sample.png
  src/components/mapView/MapView.css
  src/components/mapView/MapView.jsx
  src/pages/ProductPage.jsx
Labels: Freaky components

#90 Feature/host summary
  src/assets/images/host-raus.webp
  src/components/HostSummary/HostSummary.jsx
  src/components/HostSummary/HostSummary.module.css
  src/index.css
  src/pages/ProductPage.jsx
  src/pages/Root.jsx
  src/theme/colors.js
Labels: feature

#75 Product Gallery
  src/components/productGallery/ProductGallery.css
  src/components/productGallery/ProductGallery.jsx
  src/pages/ProductPage.jsx
Labels: Freaky components
